<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Greetings-Webapp</title>


  <link href="/bootstrap.min.css" rel="stylesheet">
  <link href="/narrow-jumbotron.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/signin.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a href="/"><button class="btn btn-lg btn-success" role="button">Home</button></a>
            <a href="/greeted"><button class="btn btn-lg btn-success" role="button">Greeted Clients</button></a>
            <a href="/reset"><button class="btn btn-lg btn-success" role="button">Reset</button></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Greetings Web-App</h3>
    </div>

    {{{body}}}

  </div>
  </form>

  <div class="output" style="font-size: xx-large; text-align: center;">{{message}}</div>
  <div class="counter" style="font-size: xx-large; text-align: center;">{{counter}}</div>

  <footer class="footer">
    <p> &copy; Greetings-Webapp: 2017</p>
  </footer>

  </div>

</body>

</html>
