
<h3 style="font-size: 1.75em; color: #868e96">Greeted Clients Statistics</h3>

<ul class="list-group">
{{#each people}}
<a href="/counter/{{name}}"><li class="list-group-item">{{name}}</li></a>

{{/each}}
</ul>
