<div class="header ">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a href="/"><button class="btn btn-lg btn-success" role="button">Home</button></a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Greetings Web-App</h3>
</div>
<h1>Greeted Clients Statistics</h1>

<ul class="list-group">
{{#each people}}
  <li class="list-group-item">{{name}}</li>
{{/each}}
</ul>
