<div class="header ">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a href="/"><button class="btn btn-lg btn-success" role="button">Home</button></a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Greetings Web-App</h3>
</div>
<h1 style="font-size: 1.75em; color: #868e96">Times Client Greeted</h1>
<div class=""><h2>{{display}}</h2></div>
