<div class="jumbotron">
  <form action="/greetings" method="POST" class="form-greeting">
    <h2 class="form-greeting-heading">Please enter name</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Please enter name" required="required">
    <div class="radioButt">
      <br><input type="radio" name="language" value="IsiXhosa">IsiXhosa
      <input type="radio" name="language" value="English">English
      <input type="radio" name="language" value="Setswana">Setswana
      <br><br>
      <button class="btn btn-lg btn-success" role="button">Submit</button>
    </div>
  </form>
</div>
