<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Greetings-Webapp</title>


  <link href="bootstrap.min.css" rel="stylesheet">


  <link href="narrow-jumbotron.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <button class="btn btn-lg btn-success" role="button">Greeted Clients</button>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Greetings Web-App</h3>
    </div>
    <div class="jumbotron">
      <form action="/greetings" method="POST" class="form-greeting">
        <h2 class="form-greeting-heading">Please enter name</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Please enter name" required="required">
        <div class="radioButt">
          <br><input type="radio" name="language" value="IsiXhosa">IsiXhosa
          <input type="radio" name="language" value="English">English
          <input type="radio" name="language" value="Setswana">Setswana
          <br><br>
          <button class="btn btn-lg btn-success" role="button">Submit</button>
          <button class="btn btn-lg btn-success" role="button">Reset</button>
        </div>
    </div>

  </div>
  </form>

  <div class="output" style="font-size: xx-large; text-align: center;"> {{message}} </div>
  <div class="counter" style="font-size: xx-large; text-align: center;">{{counter}}</div>

  <footer class="footer">
    <p> &copy; Greeting-Webapp: 2017</p>
  </footer>

  </div>

  <script src="ie10-viewport-bug-workaround.js"></script>
</body>

</html>
