<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <meta charset="utf-8">
    <title>Greeting-Web App</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Greeting</h1>
    <div class="container">
      <form action="/greeetings" method="POST">
    <label>Name: <input type="text" name="name" placeholder=" enter name" ></label>
    <input type="submit"><br><br>
    <div class="radioButt">
    <input type="radio" name="lang" value="IsiXhosa">IsiXhosa
    <input type="radio" name="lang" value="English">English
    <input type="radio" name="lang" value="Setswana">Setswana
  </div>
</form>
    </div>
  </body>
=======

<head>
  <meta charset="utf-8">
  <title>Greetings Web-App</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <fieldset class="fieldContainer">
    <legend class="legend">
      <h1>Greetings Web-App</h1>
    </legend>
    <div class="container">
      <form action="/greetings" method="POST" class="form" style="font-size: xx-large; margin-top: 1em;">
        <label>Name: <input type="text" name="name" placeholder="Please enter name" required="required" ></label>
        <div class="radioButt">
          <br><input type="radio" name="language" value="IsiXhosa">IsiXhosa
          <input type="radio" name="language" value="English">English
          <input type="radio" name="language" value="Setswana">Setswana
        </div>
        <br><input type="submit">
      </form>
    </div>
    <div class="output" style="font-size: xx-large"> {{message}} </div>
    <div class="counter" style="font-size: xx-large">{{counter}}</div>
  </fieldset>
</body>

>>>>>>> 472329beee8c7662eb14f26dfb33d1f835c11d10
</html>
